<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Insumo</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>

  <header>
    <img src="../../static/img/logo.png" alt="Logo da Lavoro">
    <button type="submit" class="botao-sair">Sair</button>
  </header>


  <main class="d-flex">
    <div class="fundobarra">
      <h4> Funcionalidades </h4>
      <nav class="navegar d-flex">
        <a href="" class="linksn d-flex"><img src="../../static/img/Pessoa.png" alt="Icone de pessoa">Perfil</a>
        <a href="" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png"
            alt="Icone de Insumos">Insumos</a>
        <a href="" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png"
            alt="Icone da caixa de produtos">Produtos</a>
        <a href="" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png"
            alt="Icone de um saco de dinheiro">Lucratividade</a>
      </nav>
    </div>




    <section class="cadastro-produto">
      <h2>Cadastro de Insumos</h2>
      <div class="cardastro">
        <form>
          <label for="insumo">Nome do insumo (ex: Farinha de trigo, leite condesado)</label>
          <input type="text" id="nome-insumo" name="nome-insumo">

          <label for="medida">Unidade de medida</label>
          <input type="text" id="unidade-medida" name="unidada-medida">

          <label for="custo">Custo unitário</label>
          <input type="number" id="tempo" name="custo unitário">



          <div class="botoes">
            <button type="submit" class="botao-cancelar">Cancelar</button>
            <button type="submit" class="botao-cancelar">Cadastrar</button>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <div>
      <img src="../../static/img/logo.png" alt="Logo da Lavoro">
      <p>© 2025 Lavoro – Todos os direitos reservados</p>
    </div>
    <div class="contato">
      <div>
        <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
        <p>Rua Barão do Rio Branco - Birigui/SP</p>
      </div>
      <div>
        <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
        <p>(11) 99999-9999</p>
      </div>
      <div>
        <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
        <p>Lavoro@gmail.com</p>
      </div>
    </div>
  </footer>
</body>
</body>

</html>