<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main>
        <section>
            <h1>Cadastre-se!</h1>
        </section>

        <section>
            <img class="img-cadastro" src="/static/img/imgcadastro.png" alt="produtora sorrindo plantando em sua colheita">
        </section>

            <img src="/static/img/imgcadastro.png">
        </section>


        <section>
            <form>
                <div>
                    <label class="nome">Nome</label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div>
                    <label class="telefone">Telefone</label>
                    <input type="number" id="telefone" name="telefone" required>
                </div>

                <div>
                    <label class="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <label class="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>

                <div>
                    <label class="confirma-senha">Confirmar senha</label>
                    <input type="password" id="confirma-senha" name="confirma-senha">
                </div>
                <br>
                 <button type="submit">Cadastrar</button>
            </form>
        </section>
    </main>
</body>
</html>