<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição Perfil</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main>
        <section>
            <h1>Editar Perfil</h1>
        </section>

        <section>
            <img src="/static/img/icone-pessoa.png" alt="icone com a foto de uma pessoa">
        </section>

        <section>
            <form>
                <div>
                    <label class="nome-edicao-perfil">Nome</label>
                    <input type="text" id="nome-edicao-perfil" name="nome-edicao-perfil" required>
                </div>

                <div>
                    <label class="email-edicao-perfil">Email</label>
                    <input type="text" id="email-edicao-perfil" name="email-edicao-perfil" required>
                </div>

                <div>
                    <label class="tel-edicao-perfil">Telefone</label>
                    <input type="number" id="tel-edicao-perfil" name="tel-edicao-perfil" required>
                </div>

                <div>
                    <button class="salvar-edicao-perfil" type="submit">Salvar</button>
                    <a href="perfil.html" role="button">Cancelar</a>
                </div>

            </form>
        </section>

    </main>
</body>