 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição Perfil</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <header>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <button>---</button>
        </header>
    <main>
        <section>
            <h1 class="titulo-edicao-perfil" >Editar Perfil</h1>
        </section>

        <section>
            <img class="img-pessoa-editar" src="/static/img/icone-pessoa.png" alt="icone com a foto de uma pessoa">
        </section>

        <section>
            <form>
                <div>
                    <label class="nome-edicao-perfil">Nome</label>
                    <input class="nome-perfil-edicao" type="text" id="nome-edicao-perfil" name="nome-edicao-perfil" required>
                </div>

                <div>
                    <label class="email-edicao-perfil">Email</label>
                    <input class="email-perfil-edicao" type="text" id="email-edicao-perfil" name="email-edicao-perfil" required>
                </div>

                <div>
                    <label class="tel-edicao-perfil">Telefone</label>
                    <input class="telefone-perfil-edicao" type="number" id="tel-edicao-perfil" name="tel-edicao-perfil" required>
                </div>

                <div>
                    <button class="salvar-edicao-perfil" type="submit">Salvar</button>
                    <a class="cancelar-edicao" href="perfil.html" role="button">Cancelar</a>
                </div>

            </form>
        </section>

    </main>

    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
q
</html>