<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edição de Produto</title>
     <link rel="stylesheet" href="static/css/styll.css">
</head>
<body>

  
   <<header>
         <img src="../../static/img/logo.png"Logo da Lavoro">
        <button type="submit" class="botao-sair">Sair</button>
    </header>


    <main>
    <div class="edicao-produto">
      <h2>Editar insumo</h2>
      <form>
        <div class="nome-produto">
          <label for="nome">Nome do produto</label>
          <input type="text" id="nome" nome="nome-produto">
        </div>

        <div class="tempo-preparo">
          <label for="tempo">tempo-preparo</label>
          <input type="text" id="unidade" nome="tempo-preparo">
        </div>

        <table>
            <tr>
                <td><a href="{{}}"">{{}}</a></td>
                <td>{{}}</td>
                <td>{{}}</td>
                
                <td><button class="BotaoVermelho">Excluir</button></td>
            </tr>
          </table>

        <div class="botoes-edicao">
          <button type="submit" class="botao-cancelar">Cancelar</button>
          <button type="submit" class="botao-salvar">Salvar</button>
        </div>
      </form>
    </div>
  </main>

   <footer>
        <div>
            <img src="../../static/img/logo.png da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div>
            <div>
            <div>
                <img src="../../static/img/Icone_localização.png de localização" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>


</body>
</html>
    

  




