<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <button class="botao-sair">Sair</button>
    </header>
    <main>
        <section class="lucratividade">
            <h1>Gráficos do lucro</h1>
            <div class="graficos d-flex">
                <div class="graficos-card">
                    <img src="../../static/img/graficocoluna.png" alt="Gráfico de Lucro por Produto">
                    <p>Lucro por Produto</p>
                </div>
                <div class="graficos-card">
                    <img src="../../static/img/graficopizza.png"
                        alt="Gráfico de Contribuição de cada produto para o lucro total">
                    <p>Contribuição de cada produto para o lucro
                        total</p>
                </div>
            </div>

        </section>
        <section>
            <div class="fundobarra">
                <h4> Funcionalidades </h4>
                <nav class="navegar d-flex">
                    <a href="perfil.html" class="linksn d-flex"><img src="../../static/img/Pessoa.png"
                            alt="Icone de pessoa">Perfil</a>
                    <a href="insumos.html" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png"
                            alt="Icone de Insumos">Insumos</a>
                    <a href="produto.html" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png"
                            alt="Icone da caixa de produtos">Produtos</a>
                    <a href="lucro.html" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png"
                            alt="Icone de um saco de dinheiro">Lucratividade</a>
                </nav>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>

</html>