<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavoro</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <button></button>
    </header>
    <main>
        <section>
            <h1>Organize seus produtos e defina preços de forma simples e inteligente</h1>
            <p>Ferramenta de gestão criada especialmente para pequenos produtores</p>
            <button>Ver como funciona</button>
        </section>
        <section>
            <h3>Benefícios principais</h3>
            <div>
                <div>
                    <img src="" alt="">
                    <h4>Gestão de produtos</h4>
                    <p>Cadastre e organize seu estoque de forma fácil.</p>
                </div>
                <div>
                    <img src="" alt="">
                    <h4>Precificação inteligente</h4>
                    <p>Calcule preços justos levando em conta custos e margem de lucro.</p>
                </div>
                <div>
                    <img src="" alt="">
                    <h4>Relatórios claros</h4>
                    <p>Veja como estão suas vendas e aumente seus ganhos.</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <img src="" alt="">
                    <p>Acesso fácil pelo celular</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>Cadastro de produtos</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>Relatórios de vendas e lucros</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>Definição de preços</p>
                </div>
            </div>
        </section>
        <section>
            <h3>Depoimentos</h3>
            <div>
                <p>João Martins</p>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <p>O time da Lavoro é extremamamente profissional e qualificado. Eles realmente se importam com o sucesso do cliente.</p>
            </div>
            <div>
                <p>Camila Oliveira</p>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <p>Excelente serviço! A Lavoro realmente se preocupa em entender nossas necessidades e se adapta muito bem.</p>
            </div>
        </section>
        <section>
            <h3>Queremos te ouvir!</h3>
            <form action="">
                <label for="">Nome</label>
                <input type="text">
                <label for="">Escreva um comentário</label>
                <textarea></textarea>
                <label for="">Avalie nosso serviço</label>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <div>
            <img src="" alt="">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div>
            <div>
                <img src="" alt="">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="" alt="">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>