<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Lavoro</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro" class="logo">
        <button class="botaohome" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>
        <section class="paginainicial">
            <div class="textoinicial">
                <h1>Organize seus produtos e defina preços de forma
                    simples e inteligente</h1>
                <p>Ferramenta de gestão criada especialmente para
                    pequenos produtores</p>
            </div>
        </section>
        <a class="botaocadastro" href="cadastro.html">Ver como
            funciona</a>
        <section class="beneficios">
            <h3>Benefícios principais</h3>
            <div class="beneficios-pai">
                <div class="beneficio">
                    <img src="../../static/img/Icone_beneficios1.png" alt="Gestão de produtos">
                    <h4>Gestão de produtos</h4>
                    <p>Cadastre e organize seu estoque de forma
                        fácil.</p>

                </div>
                <div class="beneficio">
                    <img src="../../static/img/Icone_beneficios2.png" alt="Precificação inteligente">
                    <h4>Precificação inteligente</h4>
                    <p>Calcule preços justos levando em conta custos e
                        margem de lucro.</p>
                </div>
                <div class="beneficio">
                    <img src="../../static/img/Icone_beneficios3.png" alt="Relatórios claros">
                    <h4>Relatórios claros</h4>
                    <p>Veja como estão suas vendas e aumente seus
                        ganhos.</p>
                </div>
            </div>
        </section>
        <section class="funcionalidades">
            <div class="container-funcionalidades">
                <div class="card-funcionalidade">
                    <img src="../../static/img/funcionalidades1.png" alt="Acesso fácil pelo celular">
                    <p>Acesso fácil pelo celular</p>
                </div>
                <div class="card-funcionalidade">
                    <img src="../../static/img/funcionalidades2.png" alt="Cadastro de produtos">
                    <p>Cadastro de produtos</p>
                </div>
                <div class="card-funcionalidade">
                    <img src="../../static/img/funcionalidades3.png" alt="Relatórios de vendas e lucros">
                    <p>Relatórios de vendas e lucros</p>
                </div>
                <div class="card-funcionalidade">
                    <img src="../../static/img/funcinalidades4.png" alt="Definição de preços">
                    <p>Definição de preços</p>
                </div>
            </div>
        </section>
        <section class="depoimentos">

            <h3>Depoimentos</h3>
            <div class="depoimentos-container">
                <div class="card-depoimento">
                    <p class="nome"><strong>João Martins</strong></p>
                    <div class="estrelas">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                    </div>
                    <p>O time da Lavoro é extremamente profissional e
                        qualificado.
                        Eles realmente se importam com o sucesso do
                        cliente.</p>
                </div>
                <div class="card-depoimento">
                    <p class="nome"><strong>Camila
                            Oliveira</strong></p>
                    <div class="estrelas">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                        <img src="../../static/img/estrelavaaliacao.png" alt="Estrela">
                    </div>
                    <p>Excelente serviço! A Lavoro realmente se
                        preocupa em entender
                        nossas necessidades e se adapta muito bem.</p>
                </div>
            </div>
        </section>
        <section class="formulario">
            <h3>Queremos te ouvir!</h3>

            <form action="">
                <label for="">Nome</label>
                <input class="avaliacao" type="text">
                <label for="">Escreva um comentário</label>
                <textarea class="avaliacao"></textarea>
                <label for="">Avalie nosso serviço</label>
                <div class="estrelas">
                    <img src="../../static/img/Icone_de_estrela.png" alt="Estrela para avaliação">
                    <img src="../../static/img/Icone_de_estrela.png" alt="Estrela para avaliação">
                    <img src="../../static/img/Icone_de_estrela.png" alt="Estrela para avaliação">
                    <img src="../../static/img/Icone_de_estrela.png" alt="Estrela para avaliação">
                    <img src="../../static/img/Icone_de_estrela.png" alt="Estrela para avaliação">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>

</html>