 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
</head>

<body>
    <header>
         <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <button>---</button>
    </header>

    <main>
        <section class="fundo-login">
            <div>
                <h1 class="titulo-login" >Bem vindo(a)!</h1>
            </div>

            <div>
                <form class="form-login">
                <div>
                    <label class="email-login">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div>
                    <label class="senha-login">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
               
                <div>
                    <button class="entrar-login" type="submit">Entrar</button>
                </div>
               
                 <div>
                    <a class="cadastro-login" href="cadastro.html" role="button">Cadastre-se</a>
                 </div>
               
            </form>
            </div>
        </section>
       
    </main>

    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>