<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main>
        <section>
            <h1>Bem vindo(a)!</h1>
        </section>
        <section>
            <form>
                <div>
                    <label class="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div>
                    <label class="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                
                <div>
                    <button class="entrar-login" type="submit">Entrar</button>
                </div>
                
                 <div>
                    <a class="cadastro" href="cadastro.html" role="button">Cadastre-se</a>
                 </div>
                
            </form>
        </section>
    </main>
</body>
</html>