<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Relatório de Lucratividade</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <button class="botao-sair">Sair</button>
    </header>
    <main class="d-flex">
        <section>
            <div class="fundobarra">
                <h4> Funcionalidades </h4>
                <nav class="navegar d-flex">
                    <a href="perfil.html" class="linksn d-flex"><img src="../../static/img/Pessoa.png"
                            alt="Icone de pessoa">Perfil</a>
                    <a href="insumos.html" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png"
                            alt="Icone de Insumos">Insumos</a>
                    <a href="produto.html" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png"
                            alt="Icone da caixa de produtos">Produtos</a>
                    <a href="lucro.html" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png"
                            alt="Icone de um saco de dinheiro">Lucratividade</a>
                </nav>
            </div>
        </section>
        <section class="lucro">
            <h1 class="d-flex">Relatório de Lucratividade</h1>
            <div class="funcoes d-flex">
                <div class="funcoes-card">
                    <h3>30%</h3>
                    <p>Lucro total estimado</p>
                </div>
                <div class="funcoes-card">
                    <h3>Bolo de Chocolate</h3>
                    <p>Produto em destaque</p>
                </div>
                <div class="funcoes-card">
                    <h3>R$ 3,21 por item</h3>
                    <p>Custo Médio de Produção</p>
                </div>
            </div>
            <div class="funcoeslucro">
                <div class="funcoeslucro-card">

                    <a href="grafico.html"><img src="../../static/img/graficos.png" alt="Ícone grafico"></a>
                    <h3>Graficos</h3>
                </div>
                <div class="funcoeslucro-card">
                    <a href="tabela.html"><img src="../../static/img/tabelas.png" alt="Ícone tabela"></a>
                    <h3>Tabela</h3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>

            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>

</html>