<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main>
        <header>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <button>---</button>
        </header>

        <section>
            <h1>Informações pessoais</h1>
        </section>

        <section>
            <div>
                <img src="/static/img/icone-pessoa.png" alt="icone com a foto de uma pessoa">
                <a class="" href="edicao_perfil.html" role="button">Editar</a>
            </div>
        </section>
       
        <section>
            <div>
                <nav class="navegar">
                    <a href="" class=""><img src="../../static/img/Pessoa.png" alt="Icone de pessoa">Perfil</a>
                    <a href="" class=""><img src="../../static/img/carrinho_insumos.png" alt="Icone de Insumos">Insumos</a>
                    <a href="" class=""><img src="../../static/img/caixa_de_produto.png" alt="Icone da caixa de produtos">Produtos</a>
                    <a href="" class=""><img src="../../static/img/icone_lucratividade.png" alt="Icone de um saco de dinheiro">Lucratividade</a>
            </div>
        </section>

        <section>
            <div>
                <h3>Nome:</h3>
                <h3>E-mail:</h3>
                <h3>Telefone</h3>
            </div>
        </section>

    </main>

    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>