<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos_Individuais</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <button class="BotaoDeSair">Sair</button>
    </header>
    <main class="d-flex">
        <div class="fundobarra">
            <h4> Funcionalidades </h4>
            <nav class="navegar d-flex">
                <a href="perfil.html" class="linksn d-flex"><img src="../../static/img/Pessoa.png"
                        alt="Icone de pessoa">Perfil</a>
                <a href="insumos.html" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png"
                        alt="Icone de Insumos">Insumos</a>
                <a href="produto.html" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png"
                        alt="Icone da caixa de produtos">Produtos</a>
                <a href="lucro.html" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png"
                        alt="Icone de um saco de dinheiro">Lucratividade</a>
            </nav>
        </div>
        <div>
            <section class="">
                <h3 class="NomeP">Bolo de chocolate</h3>
                <p class="TempoDoP">Tempo de preparo: 1 h</p>
                <p class="IdP">Código: 01
                <div class="d-flex">
                    <h4>Insumos: </h4>
                    <a href="">+</a>
                </div>
                <table>
                    <tr>
                        <td>farinha de trigo</td>
                        <td>1</td>
                        <td>Kg/td>
                        <td><button class="BotaoVermelho">Excluir</button></td>
                    </tr>
                </table>
                <div class="d-flex">
                    <p>Preço de Venda: R$ 20,40</p>
                    <Button class="BotaoVerde">Lucro</Button>
                </div>
                <div>
                    <a href="" class="BotaoVermelhoL">Cancelar</a>
                    <Button class="BotaoVerde">Ok</Button>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</body>

</html>