<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <main>
        <div>
            <h4> Funcionalidades </h4>
            <Div>
                <nav class="navergar">
                    <a href="" class=""><img src="../../static/img/Pessoa.png" alt="Icone de pessoa">Perfil</a>
                    <a href="" class=""><img src="../../static/img/carrinho_insumos.png" alt="Icone de Insumos">Insumos</a>
                    <a href="" class=""><img src="../../static/img/caixa_de_produto.png" alt="Icone da caixa de produtos">Produtos</a>
                    <a href="" class=""><img src="../../static/img/icone_lucratividade.png" alt="Icone de um saco de dinheiro">Lucratividade</a>
                </nav>
            </Div>
            <div>
                <section>

                </section>
            </div>
        </div>
    </main>
</body>
</html>