@media (max-width: 769px) {
    body {
        font-size: 14px;
    }

    .fundobarra {
        display : none;
    }

    .cardastro {
     margin-bottom: 2em;
    }

    .cadastro-produto h2{
        margin-bottom: 1em;
    }

    header {
        width: 122%;
    }
    header img {
        width: 20%;
    }
}

