
html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --BegeEscuro--: #A68C69; /*Cor principal*/
    --BegeClaro--: #F0E5C9; /*Cor principal*/
    --VerdeEscuro--:  #878F55; /*Cor Secundaria*/
    --Preto--: #000000; /*Cor Secundaria*/
    --VermelhoPastel--:  #D74747; /*Cor Botão*/
    --Branco--: #FFFFFF; /*Cor Fundo*/
    --CinzaClaro--: #F5F5F5; /*Cor Detalhes*/
    --CinzaEscuro--: #E9E9E9; /*Cor Detalhes*/
}

.navegar{
    display: flex;
    flex-direction: column;

}


/* Home - ana */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--BegeClaro--);
}

header button{
    width: 3rem;
    height: 3rem;
    background-color: var(--BegeEscuro--);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* GREGA - CADASTRO */
 .img-cadastro {}








/* GREGA - FIM CADASTRO */
