
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

:root{
    --BegeEscuro--: #A68C69; /*Cor principal*/
    --BegeClaro--: #F0E5C9; /*Cor principal*/
    --VerdeEscuro--:  #878F55; /*Cor Secundaria*/
    --Preto--: #000000; /*Cor Secundaria*/
    --VermelhoPastel--:  #D74747; /*Cor Botão*/
    --Branco--: #FFFFFF; /*Cor Fundo*/
    --CinzaClaro--: #F5F5F5; /*Cor Detalhes*/
    --CinzaEscuro--: #E9E9E9; /*Cor Detalhes*/
    --titulohome--: #785337; /*Cor Título Home*/
    --subtitulohome--: #876434; /*Cor Subtítulo Home*/
    --verderodape--: #606831; /*Cor Rodapé*/
}

.navegar{
    display: flex;
    flex-direction: column;

}


/* Home - ana */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--BegeClaro--);
    font-family: "Merriweather", serif;
}

.botaohome{
    width: 3rem;
    height: 3rem;
    background-color: var(--BegeEscuro--);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.paginainicial{
    background-image: url(../img/Imagem_de_fundo_home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    height: 600px;
}

.textoinicial h1{
    color: var(--titulohome--);
    font-size: 2.5rem;
}

.textoinicial p{
    color: var(--subtitulohome--);
    margin-top: 1rem;
    font-size: 1.2rem;
}
/* home fim - ana */

/* rodapé - ana */
footer{
    background-color: var(--BegeClaro--);
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--verderodape--);
    margin-top: 2rem;
    display: flex;  
}

/* rodapé fim - ana */


/* GREGA - CADASTRO */

.paginainicial{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
}
